<p id="notice"><%= notice %></p>

<p>
  <strong>Meetingid:</strong>
  <%= @meeting.external_meeting_id %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
